@{
    ViewData["Title"] = "Control";
    Layout = "_General";
}

<div class="container-fluid" style="background: white; color: #131313;">
    <div class="row info-text">
        <div class="col-md-2"></div>
        <div class="col-12 col-md-4">
            <div class="dash-cube">
                <div class="dash-cube-bills-head">
                    Bills
                </div>
                <div class="dash-cube-bills">
                    <p>Myfip es un aplicativo hecho con el fin de calcular tu ingreso mensual disponible.</p>
                    <p>Esta herramienta te ayudará a registrar cada uno de tus gastos mensuales con el fin de mostrarte cuánto dinero disponible te queda después de pagar todas tus cuentas.</p>
                    <p style="color: #D84E42;"><i class="fal fa-exclamation-triangle"></i>Esta aplicación no utilizará tu información con ningún tipo de beneficio, es importante que sepas que tu información no saldrá de nuestros servidores, y si decides eliminar tu cuenta, todos tus datos se eliminarán de forma inmediata y definitiva.</p>
                    <h5>¿Qué necesitas para registrarte?</h5>
                    <p>Para registrarte, lo único que necesita Myfip es tu nombre, ingreso mensual, dirección de correo electrónico y contraseña. Luego confirmar su correo electrónico para activar tu cuenta en Myfip.</p>
                    <p>Myfip almacena de forma segura en una base de datos toda tu información, ten en cuenta que solo se encripta tu contraseña. Tu información ya sea, ingresos, gastos, correo electrónico, se almacenan sin cifrado, lo que llegado al caso hipotético e improbable de que se vea comprometida nuestra base de datos, esos datos serían visibles.</p>
                    <p>Sin embargo, no estamos almacenando datos confidenciales como números de tarjeta de crédito o direcciones. Para nosotros es importante que sepas esto.</p>
                    <h5>No te enviaremos nada a tu correo</h5>
                    <p>Myfip no le enviará un solo correo electrónico (aparte de si restablece su contraseña o para confirmar su registro). </p>

                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="dash-cube-phra">
                <div class="row">
                    <div class="col-6">
                        <h1>15%</h1>
                    </div>
                    <div class="col-6">
                        <p>Lorem ipsum lo único que necesita Myfip es tu nombre, ingreso mens</p>
                    </div>
                </div>
            </div>
            <div class="dash-cube-phra">
                <p><i class="fal fa-quote-left"></i> Cuida de los pequeños gastos; un pequeño agujero hunde un barco. En este mundo, ninguna cosa es cierta salvo la muerte y los impuestos <i class="fal fa-quote-right"></i>. <small>(Benjamin Franklin)</small></p>
            </div>
            <div class="dash-cube">
                <div class="dash-cube-goals-head">
                    <p>Goals</p>
                </div>
                <div class="dash-cube-goals">
                    <h6>Goals</h6>
                    <p>Si desea agregar una moneda a la lista, simplemente hagamelo saber: <a href="https://api.whatsapp.com/send?phone=573145792755" target="_blank"><b><i class="fab fa-whatsapp" style="color: yellowgreen;"></i>+57-3145792755</b>.</a> su moneda estará agregada lo más pronto posible.</p>
                </div>
            </div>
        </div>
        <div class="col-md-2"></div>
    </div>
    <div class="row">
        <div class="col footer">
            <p class="text-center">Por<a href="http://cristhianmendoza1000.000webhostapp.com/" target="_black"> Cristian Mendoza</a></p>
        </div>
    </div>
</div>